*{font-family: "Roboto", sans-serif;}

.letrasBlancas {color: white;}

#audioJap {width: 100%;}

.imagenes {width: 100%;}

#perfilProfesional {padding: 10px;
					background-color: #f1f1f1;}

.botones {font-size: 15px}

h3 {margin: 20px;
	margin-top: 60px;}

h1 {font-size: 50px}